{% extends 'base.html.twig' %}
{% block title %}RunoffDB -
    {% if form.vars.value %}
    {{ form.vars.value.getFullName() }}
{% else %}
    {% trans %}new user{% endtrans %}
{% endif %}{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            {% if form.vars.value %}
            {{ form.vars.value.getFullName() }}
            {% else %}
                {% trans %}new user{% endtrans %}
            {% endif %}
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                {{ form(form) }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
