includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: 8

  # co analyzovat
  paths:
    - src

  # náhrada za dřívější `excludes_analyse`
  excludePaths:
    analyse:
      - %currentWorkingDirectory%/src/Migrations/*
      - %currentWorkingDirectory%/var/*
      - %currentWorkingDirectory%/vendor/*

  # Symfony – opravena camelCase varianta klíče
  symfony:
    containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

  # (volitelné) pokud chceš dočasně potlačit chybějící typy
  # místo deprecated voleb:
  # ignoreErrors:
  #   - identifier: missingType.iterableValue
  #   - identifier: missingType.generics

  # (doporučeno pro rychlost/stabilitu)
  tmpDir: var/phpstan
  # (nebo spusť přes CLI, viz níže)
  # memoryLimit: 1G
  treatPhpDocTypesAsCertain: false
