{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header container">
        <h1>
            {{ title('home') }}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container">
        <div class="row">
            <div class="col-lg-12">
                {{ content('home') }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
