<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#sequenceType">
        <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;{% trans %}edit sequence{% endtrans %}
</button>
<div class="modal fade" id="sequenceType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}edit sequence{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.simulator) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.date) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form_row(form.projects) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">
                    {% trans %}close{% endtrans %}
                </button>
                {{ form_row(form.save) }}
            </div>
        </div>
    </div>
</div>

