{% set menu = 'definition-entity' %}
{% set submenu = 'edit' %}

{% extends 'base.html.twig' %}

{% block body %}
    {% if (is_granted('edit')) %}
        <section class="content-header">
            <h1>
                {{ class_name }} #{{ id }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('settings',{class:class}) }}"><i class="fa fa-list"></i> Seznam</a></li>
                <li class="active"> {{ class_name }}</li>
            </ol>
        </section>

        <section class="content container-fluid">
            <div class="box">
                <div class="box-body">
{#                    {% if(class=="App\\Entity\\Instrument") %}#}
{#                        {% include "forms/instrumentType.html.twig" with {entity: entity}%}#}
{#                    {% else %}#}
                        {% include "forms/definitionEntityType.html.twig" with {entity: entity, hasFiles: hasFiles, class: class}%}
{#                    {% endif %}#}
                </div>
            </div>
        </section>
    {% endif %}
    <!-- /.content -->
{% endblock %}
