{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ class_name }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('definition_entities',{class:class}) }}"><i class="fa fa-list"></i> Seznam</a></li>
            <li class="active"> {{ class_name }}</li>
        </ol>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                {% include "forms/definitionEntityType.html.twig" %}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
