
body {
    background-color: lightgray;
}

.tip {
    border-bottom: 1px dashed grey;
    cursor: pointer;
}

table.overview td.hasrecords-0 {
    background-color: #ffeaea;
    color: #aaa;
    text-align: center;
    width: 40px;
}

table.overview td.hasrecords-1 ,
table.overview td.hasrecords-2 ,
table.overview td.hasrecords-3 ,
table.overview td.hasrecords-4 ,
table.overview td.hasrecords-5 {
    background-color: #b4dd42;
    text-align: center;
    width: 40px;
}

table.overview td.assignmenttype-0 {
    background-color: #ffeaea;
    color: #aaa;
    text-align: center;
    width: 40px;
}

table.overview td.assignmenttype-1 {
    background-color: #b4dd42;
    text-align: center;
    width: 40px;
}

table.overview td.assignmenttype-2 {
    background-color: #fff885;
    text-align: center;
    width: 40px;
}

table.overview td.assignmenttype-3 {
    background-color: #ffc14f;
    text-align: center;
    width: 40px;
}

table.overview td.assignmenttype-4 {
    background-color: #e6c1ff;
    text-align: center;
    width: 40px;
}

table.overview td.dry {
    background-color: #e8e8c4;
}

table.overview td.moist {
    background-color: #d5e6ff
}

table.overview td.wet {
    background-color: #668dc8;
    color: white;
}

table.sort-table th .desc:before{
    margin-right: 5px;
    content: "\e156";
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table.sort-table th .asc:before{
    margin-right: 5px;
    content: "\e155";
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table.sort-table th .sortable:before{
    margin-right: 5px;
    content: "\e150";
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label.required:after {
    content:"*";
    color:red;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }

    .dl-horizontal dd {
        margin-left: 280px;
    }

    .dl-horizontal dt {
        float: left;
        width: 260px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
