{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ type }}
        </h1>
    </section>

    <section class="content container-fluid">
        <div class="box">
            <div class="box-body">
                {{ form(form) }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
