{% set menu = 'cms' %}
    {% set submenu = 'view' %}

{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header container" style="margin-left: 0px;margin-bottom: 15px">
        <h1>
            {% if cms is not null %}
            {{ cms.getTitle() }}
            {% endif %}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content container" style="margin-left: 0px">
        <div class="row">
            <div class="col-lg-12">
                {% if cms is not null %}
                {{cms.getContent()|raw}}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
