<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% endblock %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>LO</b>GO</span>
            <span class="logo-lg"><b>Lo</b>Go</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{ render(controller(
                        'App\\Controller\\SecurityController::usermenu'
                    )) }}
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">

        <section class="sidebar">

            {{ knp_menu_render('main') }}
        </section>
    </aside>

    <div class="content-wrapper">
        {% block body %}{% endblock %}
    </div>

    <footer class="main-footer">
    </footer>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script type="text/javascript">
        /*
        google.charts.load('current', {'packages': ['corechart']});
 google.charts.setOnLoadCallback(drawChart);
 function drawChart() {
     var data = google.visualization.arrayToDataTable([
         ['Time', 'povrchový odtok [l.min-1]'],
         ['00:00:00', 3.68],
         ['00:00:30', 3.77],
         ['00:01:00', 3.86],
         ['00:01:30', 3.96],
         ['00:02:00', 4.05],
         ['00:02:30', 4.15],
         ['00:03:00', 4.23],
         ['00:03:30', 4.31],
         ['00:04:00', 4.39],
         ['00:04:30', 4.47],
         ['00:05:00', 4.55],
         ['00:05:30', 4.73],
         ['00:06:00', 4.91],
         ['00:06:30', 5.09],
         ['00:07:00', 5.27],
         ['00:07:30', 5.44],
         ['00:08:00', 5.61],
         ['00:08:30', 5.78],
         ['00:09:00', 5.95],
         ['00:09:30', 6.12]
     ]);

     var options = {
         title: 'Suchá simulace',
         curveType: 'function',
         legend: {position: 'bottom'}
     };

     var chart = new google.visualization.LineChart(document.getElementById('line-chart'));

     chart.draw(data, options);
 }
*/


        $.plot('#line-chart', [rain_data,line_data1], {
            grid  : {
                hoverable  : true,
                borderColor: '#f3f3f3',
                borderWidth: 1,
                tickColor  : '#f3f3f3'
            },
            series: {
                shadowSize: 0,
                lines     : {
                    show: true
                },
                points    : {
                    show: true
                }
            },
            lines : {
                fill : false,
                color: ['#3c8dbc', '#f56954']
            },
            yaxis : {
                show: true
            },
            xaxis : {
                show: true
            },
            legend: {
                show: true
        }
        })
    </script>
{% endblock %}
{% block dtc_grid_javascripts %}
{% endblock %}
</body>
</html>

