{% macro soilsample(key, soilsample, assignment) %}
    <dt>{{ key|trans }}</dt>
    {% if soilsample!=null %}
        <dd><a href="{{ path('soilSample',{id:soilsample.getId()}) }}" target="_blank">{{ soilsample.getId() }}</a> <i>({{ assignment.getDescription() }})</i></dd>
    {% else %}
        <dd>{% trans %}na{% endtrans %}</dd>
    {% endif %}
{% endmacro %}
