<ul class="nav navbar-nav">
    <li>
        <a href="{{ path('homepage') }}" class="nav-link">{{ 'Home'|trans }}</a>
    </li>
    {% for page in pages %}
        <li>
            <a href="{{ path('page',{'slug':page.slug}) }}" class="nav-link">{{ page.title }}</a>
        </li>
    {% endfor %}
</ul>
