<div class="modal fade" id="{{ id }}" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    {{ printEntity(dataClass)|raw }}
            </div>
        </div>
    </div>
</div>
